/* Estilos básicos para el login */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  font-family: 'Urbanist', sans-serif; /* Aplica la fuente Urbanist */
}

/* Estilos para el formulario de login */
.login-form {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
}

.login-form:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); 
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem; /* Ajuste para el título */
  font-weight: 600;
}

/* Estilos para los campos de entrada */
.input-field {
  margin-bottom: 20px;
  position: relative;
}

/* Estilo del placeholder */
.input-field input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease, padding-top 0.3s ease;
  box-sizing: border-box; /* Aseguramos que el padding no afecte el tamaño del input */
}

/* Color de borde cuando el campo está enfocado */
.input-field input:focus {
  border-color: #00796b;
}

/* Color del placeholder cuando el campo no está enfocado */
.input-field input::placeholder {
  color: #00796b;
  opacity: 1; /* Aseguramos que el placeholder se vea */
}

/* Aseguramos que el placeholder desaparezca al escribir y el label suba */
.input-field input:focus::placeholder {
  opacity: 0; /* Ocultar placeholder cuando está enfocado */
}

/* Cuando el input tiene valor, el label se mueve hacia arriba */
.input-field input:not(:placeholder-shown) + label,
.input-field input:focus + label {
  font-size: 12px;
  top: -8px; /* Desplazar el label hacia arriba */
  color: #00796b;
}

/* Estilo del label */
.input-field label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  margin: 0;
  color: #00796b;
  transition: all 0.3s ease;
}

.input-field i {
  color: #00796b;
}

/* Estilo del botón de envío */
.btn-submit {
  width: 100%;
  padding: 10px;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #004d40;
}

/* Estilos para el texto del error */
.error-message {
  color: red;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

/* Responsividad para pantallas pequeñas */
@media only screen and (max-width: 600px) {
  .login-form {
    width: 90%;
    padding: 20px;
  }

  h2 {
    font-size: 1.5rem; /* Ajuste para pantallas pequeñas */
  }
}
